:host {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.card {
    margin: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-radius: 12px;
}
.demo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1{
    font-size: 18px;
}